// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// responsive margins and padding
$mg-left-big: 20vw;
$mg-left-medium: 10vw;
$mg-left-small: 5vw;

// COLOR VARIABLES
$color-primary: #d72c42;
$color-secondary: #07275a;
$color-tertiary: #07275a;
$color-light: #f7f7f7;

// FONT VARIABLES
$font-display: 'Basis Grotesque', sans-serif;

@font-face {
  font-family: 'Basis Grotesque';
  src: url('../Fonts/Basis-grotesque/BasisGrotesque.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Basis Grotesque';
  src: url('../Fonts/Basis-grotesque/basis-grotesque-regular.woff')
    format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Basis Grotesque';
  src: url('../Fonts/Basis-grotesque/basis-grotesque-bold.woff') format('woff');
  font-weight: 600;
}

body {
  background-color: $color-light;
  padding: 0;
  margin: 0;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  // @media only screen and (max-width: $bp-medium) {
  //     font-size: 10%;
  // }
  font-family: $font-display;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
