.section {
  display: flex;
  width: 90%;
  align-items: flex-start;
  margin-top: 5rem;
  margin-bottom: 5rem;
  @media screen and (max-width: 1279px) {
    justify-content: center;
  }
  &_title {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-width: 1279px) {
      align-items: flex-start;
      width: 20%;
    }
    justify-content: flex-start;
    margin: 0;
    &_head {
      margin-top: 0;
      padding-right: 5rem;
      margin-bottom: 0.3rem;
    }
    &_bar {
      height: 0.3rem;
      width: 3rem;
      margin-top: 0;
      background-color: $color-primary;
      margin-right: 5rem;
    }
  }
  &_content {
    margin: 0;
    width: 60%;
    font-size: 2rem;

    color: $color-secondary;
    & p {
      margin: 0;
      color: $color-secondary;
      & a {
        color: $color-secondary;
        &:visited,
        &:active {
          color: $color-secondary;
        }
      }
    }
  }
  &_leaderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 1279px) {
      align-items: center;
    }
  }
  &_leaders {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    @media screen and (max-width: 1279px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
    &_desc {
      width: 60%;
      font-size: 2rem;
      @media screen and (max-width: 1279px) {
        width: 100%;
      }
      & p {
        margin-top: 0;
        padding-right: 4rem;
      }
    }
    &_img {
      @media screen and (max-width: 1279px) {
        padding-bottom: 4rem;
      }
    }
    &_img-tag {
      width: 15rem;
      height: auto;
      border-radius: 10rem;
    }
  }
}
